body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url('img/hero.png');

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
}

@media (max-width: 768px){
    .hero{
        background-size: cover;
        background-position: right center;
    }
}

.card{
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: center;
}

.card:hover{
    transform: translateY(-8px);
}

.card img{
    width: 60px;
    margin-bottom: 10px;
}